# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Database files
*.sqlite3

# Environment variables
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db
